<template>
  <div style="display: block" id="upperBox">
  <h2 style="color: #000000; margin-bottom: 0" id="overTitle">Kort over Erteholmene</h2>
    <div id = "tools" style="display: flex">
  <button class="toolBoxOpener" id="toolBoxOpener">⚙ Indstillinger</button>
    <div id="bridgeManager"><p>Bridge : Open</p></div>
    <button id="changeBridge">Change Bridge Status</button>
    <div id="distanceTool"></div>
    </div>
  </div>

  <div id="toolbox" class="toolbox">
    <div class="toolBoxInner">
    <div id="titleTool">
    <h3>Kort Værktøjer</h3>
    </div>
      <div class="innerPanel">
    <!-- Animal panel -->
    <div class="panel"> <!-- Outer panel -->
    <div class="checkBoxTitleHeader"> <!-- Panel title -->
      <h4>Dyr</h4>
    </div>
    <div id="checkBoxesAnimals" class="checkBoxPanel"> <!-- checkBox panel-->
      <div id="frogBox" class="underBox"> <!-- Frog Panel -->
       <img src="./images/froggy.png" height="48px" width="48px"><input type="checkbox" id="frogCheckBox" class="checkBoxCheck">
      </div>
      <div id="birdBox" class="underBox"> <!-- Bird Panel -->
        <img src="./images/birdIcon.png" height="48px" width="48px"><input type="checkbox" id="birdCheckBox" class="checkBoxCheck">
      </div>
      <div id="sealBox" class="underBox"> <!-- Seal Panel -->
        <img src="./images/seal.png" height="48px" width="48px"><input type="checkbox" id="sealCheckBox" class="checkBoxCheck">
      </div>
    </div>
    </div>

    <!-- Building panel -->
        <div class="panel">
    <div class="checkBoxTitleHeader">
      <h4>Bygninger</h4>
    </div>
    <div id="checkBoxesBuildings" class="checkBoxPanel">
      <div id="churchBox" class="underBox">
        <img src="./images/church2.png" alt="" height="48px" width="48px"><input type="checkbox" id="churchCheckBox" class="checkBoxCheck">
      </div>
    </div>
        </div>



        <div class="panel">
          <div class="checkBoxTitleHeader">
            <h4>Ture</h4>
          </div>
          <div id="checkBoxesTours" class="checkBoxPanel">
            <div id="millersHouseTour" class="underBox">
              <img src="./images/mill.png" alt="" height="48px" width="48px"><input type="checkbox" id="tour1Checkbox" class="checkBoxCheck">
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div id="Lmap" class="secondPart" style="height: 850px;"></div>
</template>