<template>
    <h2 style="color: #000">Dyrene på Christiansø</h2>
    <div style="display: flex">
        <div style="flex-direction: row; justify-content: flex-start; justify-content: space-between">
            <h1 id="seasonID1">Season1</h1> <h1 id="seasonID2" style="opacity: 0.5">Season2</h1>
        </div>

        <div id="animalListId">
        </div>
    </div>

    <div class="accordion">
        <button id="edderfuglBtn" type="button" class="accordion__button">Edderfuglen</button>
        <div class="accordion__content">
            <h1>Edderfuglen</h1>
            <div class="portraitFrame">

            <img src="./images/duck1.png" height="256" width="256">
                <div class="portraitBtnPanel">
                    <button type="button" class="playBtn" data-data-sound="bird">▶</button>
                    <button type="button" class="pauseBtn" data-data-sound="bird">⏸</button>
                </div>
            </div>
            <hr>
            <div class="innerTextAccordion" id="birdText">
            <p>
                En edderfugl (uofficiel stavemåde blandt ornitologer: ederfugl) (fra oldnordisk æðr, latin: Somateria mollissima)
                er en andefugl, der især findes i det nordligste Nordamerika, Europa og Asien.
                Den er i Danmark både almindelig som ynglefugl og trækgæst fra det øvrige Nordvesteuropa.
            </p>
            <h5>Beskrivelse</h5>
            <p>Længden er 58 cm, vingefanget 80–108 cm, og vægten 1200-2800 gram. Hos edderfugl er der stor forskel på
                fjerdragten hos han og hun. Hannen er i pragtdragt iøjnefaldende sort og hvid med grøn nakke og et rosa bryst.
                Hunnen er derimod brunt kamuflagefarvet, hvilket gør den svær at få øje på, når den ligger på rede.
            </p>
            <h5>Føde</h5>
            <p>
                Edderfuglen æder især muslinger, snegle og krebsdyr, men kan også tage fisk. Den søger som regel sin føde i lavvandede områder,
                men kan dykke ned til 20 meters dybde. Muslingerne, der især er blåmuslinger, sluges hele, og skallerne males i stykker i kråsen.
                Den tager normalt muslinger, der er mindre end 2 cm lange. En edderfugl kan på et døgn æde lige så meget, som den selv vejer.
            </p>
            <h5>Udbredelse</h5>
            <p>
                I Danmark yngler ca. 25.000 par edderfugle. Den yngler almindeligt på øer og holme i de indre danske farvande samt i Vadehavet.
                Den er desuden almindelig som træk- og vintergæst, idet der om vinteren i de danske farvande
                opholder sig omkring 30 procent af den nordvesteuropæiske bestand.
                Nogle af verdens største kolonier af edderfugl findes i det vestlige Island, mens de største danske kolonier findes på Saltholm.
            </p>
            <h5>Ynglebiologi</h5>
            <p>
                Edderfuglen yngler i en alder af 3 år. Der lægges et kuld årligt med 4-6 æg, der udruges på 25-28 dage. Ungerne er flyvefærdige mellem 65 og 75 dage gamle.
            </p>
            </div>


        </div>
        <button id="toadBtn" type="button" class="accordion__button">Grønbroget tudse</button>
        <div class="accordion__content">
            <h1>Grønbroget tudse</h1>
            <div class="portraitFrame">
                <img src="./images/froggy.png" height="256" width="256">
                <div class="portraitBtnPanel">
                    <button type="button" class="playBtn" data-data-sound="toad">▶</button>
                    <button type="button" class="pauseBtn" data-data-sound="toad">⏸</button>
                </div>
            </div>
            <hr>
            <div class="innerTextAccordion" id="toadText">
            <p>
                Den grønbrogede tudse (Bufotes variabilis) er en art i familien Tudser.
                Nyere forskning tyder på, at der ikke er tale om en enkelt biologisk art, men flere arter,
                der har udviklet sig ad forskellige evolutionære linjer.
                Alene i Europa findes sandsynligvis fem forskellige adskilte former.
                Afgrænsningen af taxa er stadig uklar.
                Grønbroget tudse er fredet ligesom alle andre danske padder.Den er vurderet som truet art på den danske rødliste 2019.
            </p>
            <h5>Beskrivelse</h5>
            <p>
                Grønbroget tudse er 5 – 8,5 cm (sjældent 10 cm) lang tudse. Rygsiden har desuden flere små vorter.
                Bugsiden er lysegrå. Ryggen er lysegrå, brun til lys olivengrøn med mørkegrønt formede sortrandede pletter.
                Kamuflagemønsteret er mest kontrastrigt hos hunnen og er mere udvisket hos hannen.
                Henover ryggen er tudsen tydeligt vortet og nogle af vorterne er orangerøde,
                hvilket giver en ekstra dimension til tudsens særprægede udseende.
                Som det også kendes fra andre padder kan grønbroget tudse blive meget mørk ved lave temperaturer.
                Tudser i vinterdvale kan virke næsten sorte.
                Ligesom hos skrubtudsen er hunnen størst, men bliver normalt ikke over 8-9 centimeter.
                Parotidkirtlerne (giftkittlerne) bagved ørerne er store og veludviklede.
            </p>
            <h5>Føde</h5>
            <p>....</p>
            <h5>Udbredelse</h5>
            <p>
                Arten er udbredt fra Nordafrika op til den sydlige del af Skandinavien.
                Vestgrænsen går ved Italien og Rhinen, mens østgrænsen går ved Iran og Kazakhstan.
                Dens antal i Skandinavien er faldende, og den findes nu kun på et lille antal danske øer,
                samt på enkelte lokaliteter i Skåne, Blekinge, Gotland og Öland. Den forekommer desuden i Estland og Rusland.
            </p>
            <h5>Ynglebiologi</h5>
            <p>Grønbroget tudse kan blive 7-9 år gammel og er overvejende et morgen- og aftendyr,
                som gemmer sig i huller i jorden om dagen. Den kan dog ses af og til om dagen.
                Den lever på strandenge, heder og lignende, hvor den fanger insekter, edderkopper, snegle, biller og andre smådyr.
                Den kan forekomme i saltvand med et saltindhold på op til 20 promille.
                Dens ynglesteder er overvejende lavvandede, åbne vandhuller.
                Tudsen kan også yngle i kystlaguner med et saltindhold på op til 8 promille.
            </p>
            </div>
        </div>
        <button id="sealBtn" type="button" class="accordion__button">Gråsælen</button>
        <div class="accordion__content">
            <h1>Gråsælen</h1>
            <div class="portraitFrame">
                <img src="./images/seal1.png" height="256" width="256">
                <div class="portraitBtnPanel">
                <button type="button" class="playBtn" data-data-sound="seal">▶</button>
                <button type="button" class="pauseBtn" data-data-sound="seal">⏸</button>
                </div>
            </div>
            <hr>
            <div class="innerTextAccordion" id="sealText">
            <p>
                Gråsælen (Halichoerus grypus) er et pattedyr i familien ægte sæler.
                Den er udbredt i tre adskilte bestande i Nordatlanten, én ved den nordamerikanske østkyst,
                én omkring De britiske Øer, Island og den norske kyst og én i Østersøen og Den botniske Bugt.
                Gråsælen er let kendelig på sit karakteristisk langstrakte hoved.
                Gråsælen blev første gang videnskabeligt beskrevet af præsten og grønlandsforskeren Otto Fabricius i 1788.
            </p>
            <h5>Beskrivelse</h5>
            <p>
                Hannerne bliver op til 2.3 m lange og kan veje op mod 300 kg. Hunnerne er noget mindre.
                Den er dermed Danmarks største rovdyr.
                Pelsen har som regel en grå bundfarve med et stort antal mørke pletter.
                De voksne sæler, især hannerne, har et meget stort og karakteristisk hoved,
                der sammen med den store størrelse gør det nemt at artsbestemme dem,
                hvorimod de unge gråsæler er vanskelige at kende fra spættet sæl.
            </p>
            <h5>Føde</h5>
            <p>......</p>
            <h5>Udbredelse</h5>
            <p>
                Indtil begyndelsen af 1900-tallet var gråsælen vidt udbredt i Danmark, men en betydelig jagt udryddede bestanden.
                Gråsælen findes i dag især på Anholt og Rødsand ved Gedser.
                I de senere år er gråsælen desuden begyndt at optræde hyppigt på banker i Vadehavet.
                Gråsælen er dog stadig langt sjældnere end den spættede sæl, der er den hyppigste sæl i Danmark.
                Der er observeret gråsæler på Tat ved Christiansø.
                I 2009 blev anslået 40 observeret, mindst 80 i 2010 (hvor den ynglede på Tat), og mindst 180 i 2011.

            </p>
            <h5>Ynglebiologi</h5>
            <p>
                De gamle hanner og de drægtige hunner samler sig på ynglepladserne nogle uger, inden fødslerne finder sted.
                Gråsæler føder deres unger på forskellige tider af året alt efter, hvilken bestand, der er tale om.
                For Østersø-bestanden sker dette i februar-marts, mens det er september-oktober for Vadehavs/Nordsø-bestanden.
                De ældre og kraftige hanner samler sig et harem på 4-5 hunner. Parringerne, der foregår i vandet,
                sker cirka 2 uger efter fødslerne. Ungen fødes ligesom hos andre sæler på land eller is,
                hvor den opholder sig i den fire uger lange dieperiode. Ungerne fødes med en hvid ulden fosterpels,
                der fældes efter nogle uger. Denne pels er ikke vandskyende,
                så det kan være fatalt for ungen at blive skræmt i vandet inden fældningen.
                Når moderen forlader ungen efter dieperioden, skal ungen klare sig selv.
                Ungen ernærer sig især af krebsdyr og bløddyr i den første tid.
                De voksne lever af bundlevende fisk, f.eks. torsk og tobis.
                De foretager korte dyk på forholdsvis lavt vand,
                det vil sige oftest på mindre end 120 meters dybde og i under 8 minutters varighed.
                Hunnerne bliver kønsmodne cirka tre år gamle, mens hannerne først er kønsmodne 6-7 år gamle.
            </p>
            </div>
        </div>

    </div>
</template>