<template>
    <h2 style="color: #000">Dyrene på Christiansø</h2>
    <div style="display: flex">
        <div style="flex-direction: row; justify-content: flex-start; justify-content: space-between">
            <h1 id="seasonID1">Season1</h1> <h1 id="seasonID2" style="opacity: 0.5">Season2</h1>
        </div>

        <div id="animalListId">
        </div>
    </div>

    <div class="accordion">
        <button type="button" class="accordion__button">Edderfuglen</button>
        <div class="accordion__content">
            <h1>Edderfuglen</h1>
            <div class="portraitFrame">

            <img src="./images/duck1.png" height="256" width="256">

            </div>
            <p>
                En edderfugl (uofficiel stavemåde blandt ornitologer: ederfugl) (fra oldnordisk æðr, latin: Somateria mollissima)
                er en andefugl, der især findes i det nordligste Nordamerika, Europa og Asien.
                Den er i Danmark både almindelig som ynglefugl og trækgæst fra det øvrige Nordvesteuropa.
            </p>
            <h5>Beskrivelse</h5>
            <p>Længden er 58 cm, vingefanget 80–108 cm, og vægten 1200-2800 gram. Hos edderfugl er der stor forskel på
                fjerdragten hos han og hun. Hannen er i pragtdragt iøjnefaldende sort og hvid med grøn nakke og et rosa bryst.
                Hunnen er derimod brunt kamuflagefarvet, hvilket gør den svær at få øje på, når den ligger på rede.
            </p>
            <h5>Føde</h5>
            <p>
                Edderfuglen æder især muslinger, snegle og krebsdyr, men kan også tage fisk. Den søger som regel sin føde i lavvandede områder,
                men kan dykke ned til 20 meters dybde. Muslingerne, der især er blåmuslinger, sluges hele, og skallerne males i stykker i kråsen.
                Den tager normalt muslinger, der er mindre end 2 cm lange. En edderfugl kan på et døgn æde lige så meget, som den selv vejer.
            </p>
            <h5>Udbredelse</h5>
            <p>
                I Danmark yngler ca. 25.000 par edderfugle. Den yngler almindeligt på øer og holme i de indre danske farvande samt i Vadehavet.
                Den er desuden almindelig som træk- og vintergæst, idet der om vinteren i de danske farvande
                opholder sig omkring 30 procent af den nordvesteuropæiske bestand.
                Nogle af verdens største kolonier af edderfugl findes i det vestlige Island, mens de største danske kolonier findes på Saltholm.
            </p>
            <h5>Ynglebiologi</h5>
            <p>
                Edderfuglen yngler i en alder af 3 år. Der lægges et kuld årligt med 4-6 æg, der udruges på 25-28 dage. Ungerne er flyvefærdige mellem 65 og 75 dage gamle.
            </p>


        </div>
        <button type="button" class="accordion__button">Gråsælen</button>
        <div class="accordion__content">

        </div>
    </div>
</template>