<template>
  <div style="display: flex" id="upperBox">
  <h2 style="color: #000000" id="overTitle">Kort over Erteholmene</h2>
  <button class="toolBoxOpener" id="toolBoxOpener">⚙ Indstillinger</button>
  </div>
  <div id="toolbox" class="toolbox">
    <div class="toolBoxInner">
    <div id="titleTool">
    <h3>Kort Værktøjer</h3>
    </div>
      <div class="innerPanel">
    <!-- Animal panel -->
    <div class="panel">
    <div class="checkBoxTitleHeader">
      <h4>Dyr</h4>
    </div>
    <div id="checkBoxesAnimals" class="checkBoxPanel">
      <div id="frogBox" class="underBox">
       <img src="./images/froggy.png" height="48px" width="48px"><input type="checkbox" id="frogCheckBox" class="checkBoxCheck">
      </div>
      <div id="birdBox" class="underBox">
        <img src="./images/birdIcon.png" height="48px" width="48px"><input type="checkbox" id="birdCheckBox" class="checkBoxCheck">
      </div>
      <div id="sealBox" class="underBox">
        <img src="./images/seal.png" height="48px" width="48px"><input type="checkbox" id="sealCheckBox" class="checkBoxCheck">
      </div>
    </div>
    </div>

    <!-- Building panel -->
        <div class="panel">
    <div class="checkBoxTitleHeader">
      <h4>Bygninger</h4>
    </div>
    <div id="checkBoxesBuildings" class="checkBoxPanel">
      <div id="churchBox" class="underBox">
        <img src="" alt="" height="48px" width="48px"><input type="checkbox" id="churchCheckBox" class="checkBoxCheck">
      </div>
    </div>
        </div>

      </div>

    </div>
  </div>
  <div id="Lmap" class="secondPart" style="height: 850px;"></div>
</template>