<template>
    <div class="login-box">
        <h2>Tilføj Pin</h2>
        <form>
            <div class="user-box">
                <input type="text" name="" required="">
                <label>Latitude</label>
            </div>
            <div class="user-box">
                <input type="text" name="" required="">
                <label>Longitude</label>
            </div>
            <div class="user-box">
                <input type="text" name="" required="">
                <label>Beskrivelse</label>
            </div>
            <div class="user-box">
                <input type="text" name="" required="">
                <label>Titel</label>
            </div>
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Opret Pin
            </a>
        </form>
    </div>
</template>



