<template>
    <div style="display: flex">

        <div style="flex-direction: row; justify-content: flex-start; justify-content: space-between">
            <h1 id="seasonID1">Christiansø Quiz</h1>
            <form id="q1">
                <p>Hvad hedder tudsearten på øen?</p>
                <label><input type="radio" name="q1" value="q1a1"> Korrect Svar</label>
                <label><input type="radio" name="q1" value="q1a2"> Brun Frø</label>
                <label><input type="radio" name="q1" value="q1a3"> B. Tudse</label>
            </form>
            <form id="q2">
                <p>Hvad hedder tudsearten på øen?</p>
                <label><input type="radio" name="q2" value="q2a1"> Brun Frø</label>
                <label><input type="radio" name="q2" value="q2a2"> Korrekt Svar</label>
                <label><input type="radio" name="q2" value="q2a3"> B. Tudse</label>
            </form>
            <form id="q3">
                <p>Hvad hedder tudsearten på øen?</p>
                <label><input type="radio" name="q3" value="q3a1"> Brun Frø</label>
                <label><input type="radio" name="q3" value="q3a2"> B. Tudse</label>
                <label><input type="radio" name="q3" value="q3a3"> Korrekt Svar</label>
            </form>
            <button id="sub">submit</button>
            <p id="status"></p>

        </div>

    </div>

</template>