<template>
  <div class="login-box" id="updateForm1" >
    <h2>Opdater Pin</h2>
    <form id="updatePinForm">
      <div class="user-box">
        <select name="" required="" id="idUpdatePin" autocomplete="off">
        </select>
        <label>ID</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="" id="latitudeUpdatePin" autocomplete="off">
        <label>Latitude</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="" id="longitudeUpdatePin" autocomplete="off">
        <label>Longitude</label>
      </div>
      <div class="user-box">
        <textarea  name="" required="" id="descriptionUpdatePin" rows="1" cols="50" autocomplete="off"></textarea>
        <label>Beskrivelse</label>
      </div>
      <div class="user-box">
        <input type="text" name="" required="" id="titleUpdatePin" autocomplete="off">
        <label>Titel</label>
      </div>
      <div class="user-box">
        <select name="" required="" id="toursUpdatePin" form="updatePinForm">
        </select>
        <label>Tours</label>
      </div>
      <a href="" id="updatePinBtn">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Opdater Pin
      </a>
      <a href="" id="resetForm">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Ryd
      </a>
    </form>
    <div id="Lmap" class="secondPart" style="height: 500px;"></div>
  </div>
</template>



